[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
pydantic = "*"
typing = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
jupyterlab = "*"
matplotlib = "*"
gsutil = "*"
orjson = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
